body {
    background-color: rgb(17, 23, 42);
    color: white;
    font: fallback;
}

.message {
    margin: 5em 0 2em;
    text-align: center;
}

.imgs {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 20px;
}

.computer img, .player img {
    width: 75%;
}

#points {
    margin: 7em 0;
    text-align: center;
}

.computerPoint {
    margin-left: 4em;
}

.playerPoint {
    margin-right: 4em;
}

.options {
    display: flex;
    justify-content: space-around;
}

.reset-container button.resetB {
    margin-left: 681px;
    margin-top: 70px;
}

button {
    color: white;
    background: none;
    border: 1px solid white;
    font-family: Arial;
    cursor: pointer;
    padding: 1em;
    border-radius: 6px;
    width: 10%;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.options button:hover {
    background-color: #094c0a;
    border-color: #094c0a;
    transform: scale(1.1);
}

.reset-container button:hover {
    background-color: #106a85;
    border-color: #106a85;
    transform: scale(1.1);
}

@keyframes shakeComputer {
    0% {
        transform: rotate(-30deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes shakePlayer {
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.comClassAnimationDetail {
    animation: shakeComputer 6s linear;
}

.plClassAnimationDetail {
    animation: shakePlayer 6s linear;
}